@media only screen and (max-width:655px) {
*{
    overflow-x:hidden;
}
#home .box1{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.onclicklogo{
    display:block;
}


 .navbutton{
    display: none;
 }
 li{
    display: none;
 }
 #why{
    width:fit-content;
 }
 #why .question{
    text-align: center;
 }
 #why .question p{
    text-align: center;
 }
#why .container1{
    text-align: center;
}
#why .container1 .box{
    height: fit-content;

    
}
 #articles
 {
    width: fit-content;
 }
 #articles .box
 {
    padding:8px 0px;
 }
 #easybank{
    flex-direction: column;
    text-align: center;
 }
 #easybank .navi{
    flex-direction: column;
    flex-wrap: wrap;
   }
    
/* width */
::-webkit-scrollbar{
    width: 5px;
  }

  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
  }
}

